.nav {
  padding-top: 5px;
}

.navadj {
  padding-bottom: 25px;
}

body {
  margin: 0;
  padding: 0;
  border-top: #00829c solid 3px;
  background-image: url(http://www.inventechinfo.com/images/bg.jpg);
  font-family: 'Roboto' !important;
}

.nav-item {
  padding-left: 8px;
}

.h {
  text-decoration-color: orange;
}

a {
  text-decoration: none !important;
}

.justify-content-right {
  padding-top: 20px;
}

li {
  padding: 7px;
  padding-top: 18px;
  font-size: 14px !important;
}

.background {
  width: 100%;
  background: url(http://www.inventechinfo.com/images/bg_inner.png);
}

.heading {
  position: absolute;
  bottom: 0px;
  left: 80px;
  font-weight: 600 !important;
}

.back-image {
  width: 1095px;
  height: 141px;
  margin: 0px auto;
  position: relative;
}

.image {
  right: 20px;
  bottom: 0px;
  position: absolute;
}

.fbb {
  color: blue;
  background-color: white;

}

.p-6 {
  padding-right: 70px;
}

.tww {
  color: #37c8d3;
  background-color: white;
  padding-left: 10px;
}

.lnn {
  color: rgb(21, 21, 151);
  background-color: white;
  padding-left: 10px;
}

.instaa {
  color: rgb(189, 80, 98);
  background-color: white;
  padding-left: 10px;
}

h5 {
  text-align: justify;
  font-size: 16px !important;
  top: 20px;
}

.p-7 {
  padding-top: 35px;
}

.para1 {
  padding-top: 20px;
  text-align: justify;
  font-size: 14px !important;
}

.para2 {
  padding-top: 10px;
  text-align: justify;
  font-size: 14px !important;
}

h4 {
  color: #008080 !important;
}

.para3 {
  padding-top: 10px;
  text-align: justify;
  font-size: 14px !important;
}

.para4 {
  padding-top: 10px;
  text-align: justify;
  font-size: 14px !important;
}

.para5 {
  padding-top: 10px;
  text-align: justify;
  font-size: 14px !important;
}

.copy {  
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px !important;
}

.fba {
  color: rgb(39, 39, 240);

}

.twb {
  color: #12dbe9;

}

.lnb {
  color: rgb(25, 25, 192);

}

.instab {
  color: rgb(209, 60, 85);

}

a:hover {
  background-color: white;
  color: #33636d !important;

}

a {
  color: white !important;
  padding: 10px;
}

.pl-6{
  padding-left: 21px;
}
.goo{
  margin-left: -10px;

}