* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containerr.h{
   width: 700px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
    padding: 23px;
    justify-content: space-around;
    font-family:serif!important;
    margin-top: -4px;
    padding-left: 135px;
}

.left{
    padding-left: 148px;
}

.btnn-align {
    
    color: white;
    text-align: center;
    margin-top: -7px;
}

button {
    background-color: #385bc5;
    border-radius: 8px !important;
    border: 1px solid ;
    padding: 8px;
    letter-spacing: 1px;
    font-family: sans-serif!important;
}

.second-row {
    padding-bottom: 13px;
    display: flex;
}

.a {
    background-color: #f14c10;
    text-align: center;
    text-transform: uppercase;
    padding: 9px;
    font-size: 18px;
    width: 400px;
    border-radius: 8px;
    
}
a{
    text-decoration: none !important;
}

.first-row {
    padding-top: 4px;
    padding-bottom: 13px;
}
.fourth-row {
    padding-bottom: 15px;
}
input {
    padding: 12px;
    letter-spacing: 2px; 
    border: 1px solid;
    border-radius: 8px; 
    font-size: 10px !important;

}

.phno {
    color: black;
    padding-top: 8px;
}

label {
    font-weight: unset;
}

p {
    text-align: center;
}

.line {
    border-left: 1px solid black;
    height: 400px;
    padding-left: 50px;
}

h6 {
    font-size: 13px !important;
    width: 267px;
    font-family: sans-serif!important;
}

h2 {
    letter-spacing: 2px;
}
.ad{
   padding-right: 335px;
 
}
.align{
    margin-left: 8px;
}
/* .vl{
    border-left: 1px solid #e3e3e3;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 0;
    box-shadow: 2px 0px 7px 0px  #c6c6c6, -2px 0px 7px 0px #c6c6c6;
     transform: rotateX(45deg); 
} */
