* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containerr.h{
    padding-top: 130px;
    height: 590px;
    font-family:serif!important;
    border: 1px solid #edd8d0 !important;
    margin-left: -12px;
    background-color:  #f7f0ea;   
    border-radius: 10px;
}

.left{
    padding-left: 148px;
}

.btnn-align {
    
    color: white;
    text-align: center;
    margin-top: -7px;
}

button {
    background-color: #385bc5;
    border-radius: 8px !important;
    border: 1px solid ;
    padding: 8px;
    letter-spacing: 1px;
    font-family: sans-serif!important;
}

.second-row {
    padding-bottom: 13px;
    display: flex;
}

.a {
    background-color: #fd423d;
    text-align: center;
    text-transform: uppercase;
    padding: 9px;
    font-size: 18px;
    width: 400px;
    border-radius: 8px;
    width: 400px !important;
}
a{
    text-decoration: none !important;
}

.first-row {
    padding-top: 4px;
    padding-bottom: 13px;
}
.fourth-row {
    padding-bottom: 15px;
}
input {
    padding: 12px;
    letter-spacing: 2px; 
    border: 1px solid;
    border-radius: 8px; 
    font-size: 10px !important;

}

.phno {
    color: black;
    padding-top: 8px;
}

label {
    font-weight: unset;
}

p {
    text-align: center;
}

.line {
    border-left: 1px solid black;
    height: 400px;
    padding-left: 50px;
}

h6 {
    font-size: 13px !important;
    width: 267px;
    font-family: sans-serif!important;
}

h2 {
    font-size: 16px !important;
    font-weight: bold !important;
}
.ad{
   padding-right: 335px;
 
}
.align{
    margin-left: 8px;
}
