/* net Banking */
.containers {
    width: 496px;
    height: 350px;
    padding: 68px;
    margin-top: -30px;
    border: 1px solid #99bdd5;
    background-color:  #c1d5df;
    border-radius: 10px;
}

.text-center{
    justify-content: center;
}
.h2{
    padding-left: 79px;
    padding-bottom: 3px;
}
.b {
    background-color: #fd423d;
    text-align: center;
    text-transform: uppercase;
    padding: 6px;
    font-size: 14px;
    border-radius: 8px;
    text-transform: capitalize;
    width: 100%;
}
.form-select{
    text-align: center;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: small !important;
}
.paragraph{
    padding-top: 8px;
    font-size: 11px;
}
h5{
    font-size:x-small !important;
   
}
.row.h{
    margin-top: -4px;
}
.col-md-6{
    margin-top: -4px;
}
.background{
    background-color: #dddddd;
    padding: 8px;
    text-align: center;
}

.buts.col-md-6{
    margin-top: -12px
}

/* credit 
*/
.containerr.h{
    width: 500px;
    height: 350px;
    margin-top: -30px;
    padding: 69px;
    border: 1px solid #99bdd5!important;
    background-color:  #c1d5df;   
    border-radius: 10px;
}
.btnn-align {
    color: white;
    text-align: center;
    margin-top: -7px;
}

button {
    background-color: #385bc5;
    border-radius: 8px !important;
    border: 1px solid ;
    padding: 7px;
    letter-spacing: 1px;
}

.second-row {
    padding-bottom: 15px;
    display: flex;
}

.a {
    background-color: #fd423d;
    text-align: center;
    text-transform: uppercase;
    padding: 9px;
    font-size: 14px;
    border-radius: 8px;
    width: 110px;
    margin-left: 9px;
}
a{
    text-decoration: none !important;
}

.first-row {
    padding-bottom: 15px;
}
.fourth-row {
    display: flex;
}
input {
    padding: 12px;
    letter-spacing: 2px; 
    border: 1px solid;
    border-radius: 8px; 
    font-size: 10px !important;

}
.third-row{
    padding-bottom: 15px;
}

label {
    font-size: 12px;
    position: absolute;
    padding-left: 3px;
}


p {
    text-align: center;
}

.line {
    border-left: 1px solid black;
    height: 400px;
    padding-left: 50px;
}

h6 {
    font-size: 12px !important;
    width: 267px;
}

h2 {
    font-size: 14px !important;
    font-weight: bold !important;
    
}
.ad{
   text-align: center;
 
}
.align{
    margin-left: 8px;
}

/* payment */
body{
    background-color:#eff4f7!important;
}
.container-fluid{
    padding: 30px !important;
    font-family: 'Roboto' !important;
    height: 100%;
    font-size: 14px;
}
.nav-link{
    color: black !important;
    margin: 2px;
    margin-right: -6px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
.nav-link.active{
    background-color: #c1d5df!important;
    border-left: 6px solid #4EA300 !important;
    margin-right: -17px;
    border-top: 1px solid #99bdd5;
    border-bottom: 1px solid #99bdd5;
    z-index: 1;
    box-shadow: none !important;

}
.nav-link.active:hover{
    background-color:#c1d5df !important;
    font-weight: bold;
    z-index: 1;
}
.nav-link:hover{
    box-shadow: 0px 0px 3px 2px #b2b2b2;
}

h4{
    font-size: 14px !important;
    font-weight: bold !important;
}
.nav-link{
    background-color: #f7fafb !important;
}

.header{
    padding-bottom: 35px;
    text-align: center;
    padding-left: 45px;
}
.border.inner-container{
    border: none !important;
    padding: 50px;

}
.inner-container{
    width: 920px;
    height: 500px;
}


/* Qr code */
.containerrr {
    width: 496px;
    padding: 52px;
    margin-top: -30px;
    border: 1px solid #99bdd5;
    border-radius: 10px;
    background-color:  #c1d5df;


}

.btns-align {
    color: #4c8cb5;
    text-align: center;
}
button { 
    font-size: 12px !important;
    color: white;
    background-color: 
    #327bab;
    border-radius: 8px !important;
    border: 1px solid ;
    border: #4c8cb5;
    text-transform: capitalize !important;
}
p {
    text-align: center;
}
h5{
    text-align: center;
    padding-top: 3px;
}
.spacing{
    width: 338px;
    padding-left: 50px;
}
li{
    float: left;
}
.fa-whatsapp{
    color: rgb(38, 243, 38);
}
.fa-facebook{
    color: rgb(25, 25, 192);
}
.fa-instagram{
    color: rgb(209, 60, 85);;
}

