.containers {
    width: 99%;
    height: 530px;
    border: 1px solid #99bdd5;
    margin-left: -12px;
    background-color: 
    #c1d5df;
    border-radius: 10px;
}

.text-center{
    justify-content: center;
}
.col-md-4{
    text-align: center;
    margin-top: -10px;
}
.row.h{
    padding-top: 25px;
    padding-bottom: 25px;
}
.h2{
    padding-left: 79px;
    padding-bottom: 6px;
}
.b {
    background-color: #fd423d;
    text-align: center;
    text-transform: uppercase;
    padding: 9px;
    font-size: 18px;
    border-radius: 8px;
    text-transform: capitalize;
    width: 389px;
}
.buts{
    padding-left: 232px !important;
}
.col-md-12{
    padding-bottom: 20px;
    font-size: medium;
    padding-left: 199px !important;
    width: 68% !important;
    margin-left: 33px;
}

.form-select{
    text-align: center;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-right: 140px !important;
    padding-left: 130px !important;
    font-size: small !important;
}
.paragraph{
    padding-right: 16px !important;
    font-size: small;
    letter-spacing: 0px !important;
}
h5{
    font-size:x-small !important;
    padding-left: 258px;
   
}
.net{
    padding-top: 36px;
    padding-left: 381px;
    padding-bottom: 44px;
}
.bc{
    background-color: #dddddd;
    padding: 4px;
    margin-left: 248px;
    margin-right: -20px;
    
}
.bcg{
    background-color: #dddddd;
    padding: 4px;
    margin-left: 248px;
    margin-right: -20px;
}
.bcx{

    background-color: #dddddd;
    padding: 4px;
    margin-left: 248px;
    margin-right: -20px;
}
.imagee{
    padding-right: 135%;
    margin-right: -50px;
}
.images{
    padding-right: 207px;
    margin-left: 3px;
   
}
.image{
    padding-left: 5%;
}
.col-md-4.x{
    margin-left: 72px;
    margin-right: -216px;
}
.col-md-4.z{
    margin-left: -216px;
}

   
