* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d7d6d8!important;
}

.container {
    width: 720px !important;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    position: fixed;
    box-shadow: 1px 4px 13px rgb(53, 45, 45);
    font-family:serif!important;
}