* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 750px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    position: fixed;
    box-shadow: 7px 5px 35px black;
    font-family:serif;
}

.container h2 {
    text-align: center;
}

.btnn-align {
    color: blueviolet;
    text-align: center;
}

button {
    border-radius: 8px !important;
    border: 1px solid black;
    padding: 7px;
    letter-spacing: 1px;
    font-family: sans-serif!important;
}

.second-row {
    padding-bottom: 13px;
    display: flex;
}

.a {
    background-color: orangered;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    width: 400px;
    border-radius: 8px;
}

.first-row {
    padding-top: 16px;
    padding-bottom: 18px;
}
.fourth-row {
    padding-bottom: 18px;
}
input {
    padding: 12px;
    letter-spacing: 2px; 
    border: 1px solid;
    border-radius: 8px; 
}

.phno {
    color: black;
}

label {
    font-weight: unset;
}

p {
    text-align: center;
}

.vl {
    border-left: 2px solid black;
    height: 400px;
    padding-left: 50px;
}

h6 {
    width: 267px;
    font-family: sans-serif!important;
    filter: drop-shadow(0.5rem 0.5rem 0.55rem rgba(0, 0, 0, 0));
}

h2 {
    letter-spacing: 2px;
}

.third-row {
    letter-spacing: 1px;
}

.ad {
    padding-left: 140px;
}
.align{
    margin-left: 8px;
}