* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: emoji;

}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #3525c2, #9e238e);
}

.container {
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    position: fixed;
}

.container h2 {
    text-align: center;
}

.btnn-align {
    color: green;
    text-align: center;
    border-radius: 30%;

}

button {
    border-radius: 20%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 8px;
    letter-spacing: 1px;
}

.second-row {
    padding-bottom: 15px;
    display: flex;
}

.a {
    background-color: orangered;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    width: 400px;
}

.first-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.fourth-row {
    padding-bottom: 15px;
}

input {
    padding: 12px;
    letter-spacing: 2px;
}

.phno {
    color: black;
}

label {
    font-weight: unset;
}

p {
    text-align: center;
}

.vl {
    border-left: 2px solid black;
    height: 400px;
    padding-left: 50px;
}

h6 {
    width: 267px;
    letter-spacing: 1px;
}

h2 {
    letter-spacing: 2px;
}

.third-row {
    letter-spacing: 1px;
}

.ad {
    padding-left: 140px;
}