* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d7d6d8!important;
}

.container{
    height: 500px;
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    position: fixed;
    box-shadow: 1px 4px 13px rgb(53, 45, 45) !important;
    font-family:serif!important;
}
.nav-link{
    color: black !important;
    border-left: 1px solid gray !important;
    border-top: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
    border-right: 1px solid gray !important;
    margin: 1px;
}
.nav-link.active{
    background-color: white !important;
    border-left: 6px solid green !important;
}
.col-md-3{
    height: 413px;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    font-family:serif!important;
}
.vl{
    border-left: 1px solid #e3e3e3;
    height: 500px;
    position: absolute;
    left: 25%;
    margin-left: 0px;
    top: 40px;
    box-shadow: 2px 0px 7px 0px  #c6c6c6, -2px 0px 7px 0px #c6c6c6;
    transform: rotateX(45deg);
}
.imagee{
    padding-right: 25%;
}
.images{
    padding-right: 75%;
}
.image{
    padding-left: 35%;
}
.col-md-3{
    height: 300px;
}
.nav-pills .nav-link{
    border-radius: none !important;
}
