* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d7d6d8!important;
}

.container {
    width: 1140px !important;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    position: fixed;
    box-shadow: 1px 4px 13px rgb(53, 45, 45);
    font-family:serif!important;
}
.sidenav{
    
    width: 230px;
    font-size: 20px;
    text-align: center;
    box-shadow: 1px 0px 3px rgb(53, 50, 50);
    background-color: white;
}
a{
    color: black !important;
    text-decoration: none !important;
    
}
h3{
    padding-bottom: 20px;
}
a:hover{
    color: #32b988!important;
}

.small{
    background-color: #32b988;
    padding: 3px;
    padding-bottom: 22px;
    padding-top: 35px;
    margin-left: 15px;
    
}
.col-md-3{
   
    height: 434px;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    position: fixed;
    border: 1px solid black;
    font-family:serif!important;
}
.col-md-9{
   
    height: 434px;
    background-color: white;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    position: fixed;
    border: 1px solid black;
    font-family:serif!important;
}
.text-center{
    padding-left: 48px;
    padding-top: 13px;
}
