* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerrr {
    width: 66%;
    height: 530px;
    position: fixed;
    padding-left: 112px;
    border: 1px solid #99bdd5;
    margin-left: -12px;
    border-radius: 10px;
    background-color:  #c1d5df;

}

.leftt{
    padding-top: 36px;
    text-align: center;
    padding-bottom: 47px;
}

.btns-align {
    color: #4c8cb5;
    text-align: center;
    margin-top: -18px;
    padding-top: 15px;
    padding-top: 20px;
    padding-bottom: 14px;
}
button { 
    font-size: 14px !important;
    color: white;
    background-color: 
    #327bab;
    border-radius: 8px !important;
    border: 1px solid ;
    padding: 6px;
    letter-spacing: 1px;
    border: #4c8cb5;
}
p {
    text-align: center;
    margin-top: -8px !important;
}
.col-lg-12{
    width: 77% !important;
}
.row.c{
    padding-left: 28px;
}